@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* Prevents scrolling */
}

.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #DF0000;
    /* Gradient background */
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    max-width: 200px;
    height: auto;
    animation: fadeIn 2s ease-in-out;
}

.heading {
    margin: 0;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
    animation: slideDown 1.5s ease-in-out;
}

.text {
    font-size: 1.2em;
    margin: 10px 0 20px;
    animation: fadeIn 2s ease-in-out;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .logo {
        max-width: 150px;
        /* Smaller logo */
    }

    .heading {
        font-size: 2.5em;
        /* Reduce heading size */
    }

    .text {
        font-size: 1em;
        /* Smaller text */
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        max-width: 120px;
        /* Even smaller logo */
    }

    .heading {
        font-size: 2em;
        /* Smaller heading */
    }

    .text {
        font-size: 0.9em;
        /* Even smaller text */
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}