{% extends 'adminnavbar.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/admininventory.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
{% endblock css %}

{% block main_content %}
    {% if orders %}

    <div class="container ml-4">
       
            <div class="filter-section">
                <!-- Search Bar -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="searchIcon">
                        <i class="bi bi-search"></i> <!-- Bootstrap Icon for search -->
                    </span>
                    <input type="text" id="searchInput" class="form-control" placeholder="Search by ORD No, customer name or mobile number" aria-label="Search" aria-describedby="searchIcon">
                </div>
                
                 <!-- Filter -->
                <form class="filter-form" onsubmit="return false;">
                    <div class="form-row align-items-end">
                        <div class="form-group col-md-3">
                            <label for="startDate" class="font-weight-bold text-dark">Start Date</label>
                            <input type="date" class="form-control form-control-sm" id="startDate">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="endDate" class="font-weight-bold text-dark">End Date</label>
                            <input type="date" class="form-control form-control-sm" id="endDate">
                        </div>
                        <div class="form-group col-md-6 d-flex align-items-end">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info btn-sm" onclick="filterTable()"><i class="fas fa-filter"></i></button>
                                <button type="button" class="btn btn-secondary btn-sm" onclick="clearFilters()"> <i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-hover" id="ordertable">
                    <thead>
                        <tr>
                            <th scope="col">Order Number</th>
                             <th scope="col">Order Date</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Mobile</th>
                            <th scope="col">Customer Address</th>
                            <th scope="col">MRP Bill Amount</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Bill Amount</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                           
                            <tr onclick="window.location.href='{% url 'admin_order_items' order.order_number %}'" style="cursor:pointer;" data-date="{{ order.order_date|date:'Y-m-d' }}">
                                <td class="text-center fw-bold">{{ order.order_number }}</td>
                                <td>{{ order.order_date }}</td>
                                <td>{{ order.customer_name }}</td>
                                <td>{{ order.customer_mobile_number}}</td>
                                <td>{{ order.customer_address }}</td>
                                <td>{{ order.bill_mrp_amount }}</td>
                                <td>{{ order.discount }}</td>
                                <td>{{ order.bill_net_amount }}</td>

                                <td>
                                    {% if order.is_accepted %}
                                         <button class="btn btn-success" disabled>Accepted</button> 
                                    {% else %}
                                        <button class="btn btn-danger" onclick="acceptOrder(this, {{ order.order_number }})">Accept Order</button>
                                    {% endif %}
                                </td>
                            </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
    {% else %}
        <div class="container mt-5">
            <div class="alert alert-info" role="alert">
                No Order.
            </div>
        </div>
    {% endif %}

     <script>
         function acceptOrder(button, orderId) {
            fetch(`/admin-order/?accept_order_id=${orderId}`, { method: 'GET' })
                .then(response => {
                    if (response.ok) {
                        button.textContent = 'Accepted';
                        button.classList.remove('btn-danger');
                        button.classList.add('btn-success');
                        button.disabled = true;


                    }
                })
                .catch(error => console.error('Error:', error));
        }


        function filterTable() {
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;
            const table = document.getElementById('ordertable').getElementsByTagName('tbody')[0];
            const rows = table.getElementsByTagName('tr');
            

            for (let i = 0; i < rows.length; i++) {
                const row = rows[i];
                const rowDate = row.getAttribute('data-date');
                
                if ((rowDate >= startDate && rowDate <= endDate) || (!startDate && !endDate)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            }

        }

        function clearFilters() {
            // Clear the date inputs
            document.getElementById('startDate').value = '';
            document.getElementById('endDate').value = '';

            // Show all rows
            const table = document.getElementById('ordertable');
            const rows = table.getElementsByTagName('tr');
            
            for (let i = 1; i < rows.length; i++) { // Start from 1 to skip the header row
                rows[i].style.display = ''; // Show row
            }

        }



       // JavaScript for filtering the table based on the search input
        document.getElementById('searchInput').addEventListener('keyup', function() {
            let filter = this.value.toUpperCase();
            let rows = document.querySelectorAll('#ordertable tbody tr');

            rows.forEach(function(row) {
                let productCode = row.cells[0].textContent.toUpperCase();
                let productName = row.cells[2].textContent.toUpperCase();
                let productCategory = row.cells[3].textContent.toUpperCase();
                let Action = row.cells[8].textContent.toUpperCase();

                if (productCode.indexOf(filter) > -1 || productName.indexOf(filter) > -1 || productCategory.indexOf(filter) > -1 || Action.indexOf(filter) > -1 ) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });

       
    </script>


{% endblock main_content %}


   