{% extends 'navbar.html' %}

{% load static %}
{% block css %}
    <link href="{% static 'css/category.css' %}" rel="stylesheet">
    <style>
        .custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.custom-dropdown:hover .dropdown-content {
    display: block;
}

.mrp-price {
    text-decoration: line-through;
    color: #999;
}

</style>
{% endblock css %}

{% block main_content %}

<div class="container my-4">
    <h2 class="text-center mb-4">{{selected_category}}</h2>
    <div class="category-grid">
         {% comment %} <h1>{{categ}}</h1> {% endcomment %} 
        {% if categ %}
            {% for items in categ %}
            <form method="POST" action="{% url 'add_to_cart' %}">
                {% csrf_token %}
                <div class="category-card">
                    <img src="/media/{{items.image}}" alt="Category 1">
                    <h5>{{items.name}}</h5>
                    <h5>{{items.product_price}}</h5>

                    <select class="form-select form-select-sm" name="product_unit">
                        {% for units,price,mrp in items.units %}
                        <option value="{{units}}">
                            <p>{{units}}&nbsp; MRP: <span class="mrp-price">₹{{mrp}}</span> <span class="discounted-price">₹ discounted {{price}}</span></p>
                        </option>
                        {% endfor %}
                    </select>  
                    <button class="btn btn-primary btn-sm w-100 mt-2" >Add to Cart</button>
                    <input type="hidden" name="product_name" value="{{items.name}}">
                </div>
            </form>
            {% endfor %}
        {% else %}
                <div class="alert alert-danger text-center">
                    <strong>No Product Found</strong>
                </div>
        {% endif %}
        
        <!-- Add more category cards as needed -->
    </div>
</div>

{% endblock main_content %}
