{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="{% static 'images\logo\logo1.png' %}" rel="icon">

    <title>City Mart - Welcome</title>
   <link rel="stylesheet" href="{% static 'css/splash.css' %}">
</head>
<body>
    <div class="splash-container">
        <div class="logo-container">
            <img src="{% static 'images/logo/logo1.png' %}" alt="City Mart Logo" class="logo">
        </div>
        <h1 class="heading">Welcome to City Mart</h1>
        <p class="text">Your one-stop shop for everything you need</p>
       
    </div>
    <script>
        // Redirect after 3 seconds (3000 milliseconds)
        setTimeout(function() {
            window.location.href = '/home';
        }, 3000);
    </script>
</body>
</html>
